/* CSS Document */
.twitterRegistre{min-height:60px; padding:10px;}
.twitterBSH{float:right; color:#36C; padding:15px 10px;}
.twitterNom{font-family:Helvetica,"Helvetica Neue",Arial,sans-serif;font-size:13px; color:#000; font-weight:300; margin-left:44px}
.twitterData{font-size:10px; float:right;}
.twitterSubject{color:#666;font-size:12px; margin-left:44px}
.twitter-nav {
    /*position: absolute;
    top: 0;
    width: 100%;*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.twitter-nav li {
    /*text-indent: 20px;*/
    line-height: 18px;
	font-size:14px;
	border-top: 1px solid rgba(0, 0, 0, .06);
}
.twitter-nav li img{
float:left;
margin-right:12px;
max-height:32px;
}

.twitter-nav li a.twitterRegistre {
	
    display: block;
    text-decoration: none;
    color: #272727;
	padding:10px 20px 10px 15px;
	overflow:auto;
}

.twitter-nav li a.twitterRegistre:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(31,33,47,0.1);
}
.twitter-nav li:first-child{border-top:none;}
.twitter-nav li a.twitterRegistre:active,
.twitter-nav li a.twitterRegistre:focus {
    text-decoration: none;
}