<div class="sidebar-brand">
  <button class="btn btn-link btn-xs pull-right" ng-click="AcessAlexandria();"><i class="fa fa-external-link"></i></button>
  <button class="btn btn-link btn-xs pull-right" ng-click="RefreshAlexandria();"><i class="fa fa-refresh"></i></button>
  <img src="http://v1-back.sokrato.me/images/icAlexandria.png" />Alexandria</div>
<div class="panellapp">
<ul class="alx-nav"> 
    	
   	<li class="alxRegistre">
          <div class="alxIco"><img src="http://www.sokrator.net/alx_santgervasi//images/membres/small/20141018_0840Foto_CV_Antoni_Duran.jpg" alt="" width="32" height="32" ></div>
          <div class="alxNom">Antoni Duran <span class="text-muted">ha compartit un nou recurs</span></div>
          <div class="alxSubject"><a href="http://www.sokrator.net/alx_santgervasi/upload/archivos/20150108_0421Fase_D_WEBINS_EMAILS_Ver_03.docx" target="_blank"><i class="fa fa-file"></i> Fase_D_WEBINS_EMAILS_Ver_03.docx</a></div>
        </li> 
        <li class="alxRegistre">
          <div class="alxIco"><img src="http://www.sokrator.net/alx_santgervasi//images/membres/small/20140805_1126foto_carnet.jpg" alt="" width="32" height="32" ></div>
          <div class="alxNom">Xavier Gadea <span class="text-muted">ha respost a una conversa</span></div>
          <div class="alxSubject"><h5>
								 
                                Re: Nota 5: Noves aportacions fetes pels membres AQP de 6/10/2014                                                                </h5>
                                <div>Us faig anotacions sobre les aportacions demandades:- Que es pugui generar una bona part de la documentació ISO. M'haurieu de passar quina documentació s'ha de generar, i mirarem d'adaptar-nos tant com puguem.- Perfils específics pels administradors, professors i alumnes. El WebSec contempla aquests tres perfils. parlarem de què veu i què...</div></div>
        </li>
        <li class="alxRegistre">
          <div class="alxIco"><img src="http://www.sokrator.net/alx_santgervasi//images/membres/small/20141018_0840Foto_CV_Antoni_Duran.jpg" alt="" width="32" height="32" ></div>
          <div class="alxNom">Antoni Duran <span class="text-muted">ha escrit</span></div>
          <div class="alxSubject"><div>
                                <h5>
								 
                                Nota 3: Cosideracions inicials i eixos bàsics del WebSec                                                                </h5>
                                <div>-&nbsp;
Pel que fa a altres accions en les que estem treballant i que s’esperen implementar
a principis del proper any, és un sistema d’acreditació
de competències professionals per a treballadors del sector de la Farmaquímica
que els permetrà capitalitzar la seva experiència professional i convertir-les
en acreditacions i...</div>
                            </div>></div>
        </li>
        
        
        
        
               
    </ul>



  
</div>
<form id="validaAlexandria" method="post" action="http://santgervasifc.sokrator.net/login.php" target="_blank" class="pull-right">    
   <input type="hidden" name="username" value="xavier.gadea@cromlec.com">
   <input type="hidden" name="password" value="Cromlec00"> 
   <input type="hidden" name="id_conex" value="43">
   <input type="hidden" name="url" value="santgervasifc.sokrator.net">
 </form>