<div class="sidebar-brand">
  <button class="btn btn-link btn-xs pull-right" ng-click="AcessAnalytics();"><i class="fa fa-external-link"></i></button>
  <img src="http://v1-back.sokrato.me/images/icAnalytics.png" />Google Analytics</div>
<div class="panellapp">
  <div id="WebSAT_last_issues">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div style="text-align:center; background-color:#FFF; padding:25px;"><img src="http://v1-back.sokrato.me/images/panellAnalytics.gif" style="max-width:100%" /></div>
      </div>
     <form name="validaAnalytics" id="validaAnalytics" method="post" action="http://www.google.com/analytics" target="_blank">       
      </form>
    </div>
</div>
