<div class="sidebar-brand">
  <button class="btn btn-link btn-xs pull-right" ng-click="AcessCRM();"><i class="fa fa-external-link"></i></button>
  <button class="btn btn-link btn-xs pull-right" ng-click="RefreshCRM();"><i class="fa fa-refresh"></i></button>
  <img src="http://v1-back.sokrato.me/images/icZurmo.png" />Zurmo CRM</div>
<div class="panellapp">
  <div id="WebSAT_last_issues">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <table class="table table-striped" id="WEBSATTable">
          <tbody>
          	<tr>
            <th>Últimos potenciales añadidos</th>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">14-02-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">José Pedro</div>
                  </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">13-02-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Patrícia Sánchez</div>
                  </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">13-02-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Juan Felipe</div>
                  </div>
                  </div>
                </td>
            </tr>
             <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">13-02-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Carlso Garcia</div>
                  </div>
                  </div>
                </td>
            </tr>
             <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">13-02-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Yolanda Montero Álvarez</div>
                  </div>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <form name="validaCRM" id="validaCRM" method="post" action="http://54.171.139.194/zurmo/" target="_blank">        
      </form>
    </div>
    </div>
</div>
