<div class="sidebar-brand">
  <button class="btn btn-link btn-xs pull-right" ng-click="AcessMinimax();"><i class="fa fa-external-link"></i></button>
  <img src="http://v1-back.sokrato.me/images/icMinimax.png" />Minimax</div>
<div class="panellapp">
  <div id="WebSAT_last_issues">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <table class="table table-striped" id="WEBSATTable">
          <tbody>
          	<tr>
            <th>Destaquem</th>
            </tr>
            <tr>
              <td><div class="registre">
                    <div class="blocInfo">
                        <a href="http://www.santgervasifc.com//ca/formacio/oferta-subvencionada-soc/installacions-serveis-i-equips-de-fabricacio-de-productes-farmaceutics-i-afins/75/0/30" target="_blank"><h4>QUIM0109_2 -004  ELABORACIÓ DE PRODUCTES FARMACÈUTICS I AFINS (Certificat de Professionalitat)</h4></a><h5>Instal·lacions, serveis i equips de fabricació de productes farmacèutics i afins</h5>
                        <div><i class="icon-calendar"></i> 25/03/2015 - 19/05/2015</div>
                        <div><i class="icon-time"></i> Dilluns a Divendres - 15:00:00 a 20:00:00</div>
                        <!--<div class="txtBreu"></div>-->
                        
                        <!--<div class="comentaris"><span class="tComentaris"></span>Comentaris</div>-->
                    </div>
                </div>
                </td>
            </tr>   
             <tr>
              <td> 
                <div class="registre">
                
                    <div class="blocInfo">
                        <a href="http://www.santgervasifc.com//ca/formacio/oferta-subvencionada-soc/formacio-complementaria/75/0/30" target="_blank"><h4>QUIM0109_2 -004  ELABORACIÓ DE PRODUCTES FARMACÈUTICS I AFINS (Certificat de Professionalitat)</h4></a><h5>Formació Complementària</h5>
                        <div><i class="icon-calendar"></i> 20/05/2015 - 21/05/2015</div>
                        <div><i class="icon-time"></i> Dilluns a Divendres - 15:00:00 a 20:00:00</div>
                        <!--<div class="txtBreu"></div>-->
                        
                        <!--<div class="comentaris"><span class="tComentaris"></span>Comentaris</div>-->
                    </div>
                </div> 
                </td>
            </tr> 
              <tr>
              <td>     
                <div class="registre">
                
                    <div class="blocInfo">
                        <a href="http://www.santgervasifc.com//ca/formacio/oferta-subvencionada-soc/fabricacio-de-lots-farmaceutics/75/0/30" target="_blank"><h4>QUIM0109_2 -004  ELABORACIÓ DE PRODUCTES FARMACÈUTICS I AFINS (Certificat de Professionalitat)</h4></a><h5>Fabricació de lots farmacèutics </h5>
                        <div><i class="icon-calendar"></i> 22/05/2015 - 21/07/2015</div>
                        <div><i class="icon-time"></i> Dilluns a Divendres - 15:00:00 a 20:00:00</div>
                        <!--<div class="txtBreu"></div>-->
                        
                        <!--<div class="comentaris"><span class="tComentaris"></span>Comentaris</div>-->
                    </div>
                </div>    
                </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <form name="validaSocratesMinimax" id="validaSocratesMinimax" method="post" action="http://www.socratescloud.com/socrates4/base.php?taula=M_Pagines&amp;pare=11&amp;fill=Páginas&amp;id_menu=32" target="_blank">
        
        <input type="hidden" name="SES_ID" value="21931329">
        <input type="hidden" name="username" value="xavier.gadea@cromlec.com">
        <input type="hidden" name="password" value="Cromlec00">
        <input type="hidden" name="id_perfil" value="1">   
        <input type="hidden" name="id_conex" value="306">
        
        </form>
    </div>
    </div>
</div>
