<div class="sidebar-brand">
  <button class="btn btn-link btn-xs pull-right" ng-click="AcessWebIns();"><i class="fa fa-external-link"></i></button>
  <button class="btn btn-link btn-xs pull-right" ng-click="RefreshWebIns();"><i class="fa fa-refresh"></i></button>
  <img src="http://v1-back.sokrato.me/images/icZurmo.png" />WebIns</div>
<div class="panellapp">
  <div id="WebSAT_last_issues">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <table class="table table-striped" id="WEBSATTable">
          <tbody>
          	<tr>
            <th>Últimas inscripciones</th>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">14-01-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Xavier Gadea</div>
                  </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">14-01-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Patrícia Gutierrez</div>
                  </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">14-01-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Juan soriano moreno</div>
                  </div>
                  </div>
                </td>
            </tr>
             <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">13-01-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Kiko Segura Garcia</div>
                  </div>
                  </div>
                </td>
            </tr>
             <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">13-01-2015&nbsp;&nbsp;</div>
                    <div class="col-md-12">Yolanda Montero Álvarez</div>
                  </div>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <form id="validaHipatiaWebIns" method="post" action="http://www.rocus.net/hipatia_login/sokrator_login.php" target="_blank" style="display:none">
        <input type="hidden" name="username" value="xavier.gadea@cromlec.com">
        <input type="hidden" name="password" value="Cromlec02">
        <input type="hidden" name="Servicio" value="1">
        <input type="hidden" name="SrvIdClient" value="1">
        <input type="hidden" name="idServei" value="1">
        <input type="hidden" name="id_conex" value="346">
        <input type="hidden" name="DOMAIN" value="santgervasifc.sokrator.net">
    
    </form>
    </div>
    </div>
</div>
