<div class="sidebar-brand">
  <button class="btn btn-link btn-xs pull-right" ng-click="AcessWebSec();"><i class="fa fa-external-link"></i></button>
  <button class="btn btn-link btn-xs pull-right" ng-click="RefreshWebSec();"><i class="fa fa-refresh"></i></button>
  <img src="http://v1-back.sokrato.me/images/icWebSec.png" />WebSec</div>
<div class="panellapp">
  <div id="WebSAT_last_issues">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <table class="table table-striped" id="WEBSATTable">
          <tbody>
          	<tr>
            <th>Pr&oacute;ximas sesiones en calendario</th>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">15-01-2015&nbsp;&nbsp;16:00 - 18:00</div>
                    <div class="col-md-12">Convocatorias pruebas de nivel 2014-5</div>
                  </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">16-01-2015&nbsp;&nbsp;09:00 - 10:00</div>
                    <div class="col-md-12">Curso QUIE0108-001</div>
                  </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">16-01-2015&nbsp;&nbsp;11:00 - 13:00</div>
                    <div class="col-md-12">Sessión Informativa</div>
                  </div>
                  </div>
                </td>
            </tr>
             <tr>
              <td><div class="accordion-heading">
                  <div class="row">                  	
                    <div class="col-md-12">17-01-2015&nbsp;&nbsp;10:00 - 13:00</div>
                    <div class="col-md-12">Muestras y analisis "In Situ"</div>
                  </div>
                  </div>
                </td>
            </tr>
            
          </tbody>
        </table>
      </div>

    <form name="validaHipatiaWebSec" id="validaHipatiaWebSec" method="post" action="http://www.rocus.net/hipatia_login/sokrator_login.php" target="_blank" style="display:none">
        <input type="hidden" name="username" value="Alimonde">
        <input type="hidden" name="password" value="e8cc9354646c18df1639f6e64421ec65cbaa7849c75526644f88a12f37288a8f">
        <input type="hidden" name="Servicio" value="1">
        <input type="hidden" name="SrvIdClient" value="1">
        <input type="hidden" name="idServei" value="1">
        <input type="hidden" name="id_conex" value="91">
        <input type="hidden" name="DOMAIN" value="af.sokrator.net">
        <input type="hidden" name="AlexOrigin" value="1">
    </form>
     
    </div>
    </div>
</div>
