<div class="sidebar-brand">
  <button class="btn btn-link btn-xs pull-right" ng-click="AcessYouTube();"><i class="fa fa-external-link"></i></button>
  <img src="http://v1-back.sokrato.me/images/icYoutube.png" />YouTube</div>
<div class="panellapp">
  <div id="WebSAT_last_issues">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div style="text-align:center; background-color:#FFF;"><img src="http://v1-back.sokrato.me/images/youtubeFake.jpg" style="max-width:100%" /></div>
      </div>
     <form name="validaYouTube" id="validaYouTube" method="post" action="https://www.youtube.com/playlist?list=PLWYRJsFfSFOGxCqqGaOCJm3qepw1BTxeN" target="_blank">       
      </form>
    </div>
</div>
